


# # Keep environment variables out of version control


# /generated/prisma
# venv

# # Virtual Environment
.venv/

# .env/
# # Pip/Packaging
__pycache__/
# *.pyc
# *.pyd
# *.egg-info/
# .Python
# build/
# dist/
# # macOS
# .DS_Store
# # Visual Studio Code
# .vscode/

# # PyCharm/IntelliJ
# .idea/

# # Atom
# .atom/